{{ form_errors(form) }}
{{ form_start(form, {'attr': {'class': "px-4 py-3"}, 'action':path('login')}) }}
    {{ form_row(form._username) }}
    {{ form_row(form._password) }}
{{ form_end(form) }}
<button class="btn btn-info btn-xs pull-right" id="btn-login">
    {{ 'form.login.actions.sign_in'|trans }}
</button>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="{{ path('josmanoa_security_sign_up') }}">New around here? Sign up</a>
<a class="dropdown-item" href="#">Forgot password?</a>
