<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'menu.inc.html.twig' %}
        </header>
        <body>
            <div>
                {% block body %}{% endblock %}
            </div>
        </body>
        <footer></footer>

        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('build/js/login.js') }}"></script>
        {% block javascripts %}{% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <script type="text/javascript">toastr["{{ label }}"]("{{ message }}")</script>
            {% endfor %}
        {% endfor %}
    </body>
</html>
