{% extends "bootstrap_4_layout.html.twig" %}

{% block geocoder_widget %}
    {{ form_row(form.lat) }}
    {{ form_row(form.lng) }}
    <input type="text" id="{{ input_id }}" class="controls form-control">
    <div id="{{ map_container_id }}" style="height: {{ map_height }}"></div>
{% endblock geocoder_widget %}
